<section class="bg-red-100 rounded-2xl p-5 mb-10">
  <div class="container mx-auto sm:px-28 py-28">
    <div class="flex flex-wrap">
      <div class="w-full lg:w-1/2 lg:pr-5 py-5 flex">
        <img class="rounded shadow-sm ml-auto my-auto" src="assets/product.png" alt="" />
      </div>
      <div class="w-full lg:w-1/2 lg:pl:5 py-5">
        <div>
          <h2 class="text-3xl  md:text-5xl font-bold">Subscribe to our Newsletter</h2>
          <p class="mt-4 text-gray-600">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita
            similique pariatur impedit accusantium vitae iste labore veritatis
            cupiditate commodi eligendi voluptate voluptatum porro error
            deleniti quos, eveniet odio aliquam placeat.
          </p>
          <div class="mt-12">
            <form>
              <div
                class="flex border bg-white p-2 rounded focus-within:border-purple-500"
              >
                <div class="w-auto flex px-2 text-gray-300">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="my-auto h-6 w-6"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                    stroke-width="2"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"
                    />
                  </svg>
                </div>
                <div class="w-full">
                  <span class="block text-gray-300">Enter your Name</span>
                  <input
                    class="w-full p-1 focus:outline-none border-b"
                    type="text"
                  />
                </div>
              </div>
              <div
                class="flex mt-3 border bg-white p-2 rounded focus-within:border-purple-500"
              >
                <div class="w-auto flex px-2 text-gray-300">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="my-auto h-6 w-6"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                    stroke-width="2"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207"
                    />
                  </svg>
                </div>
                <div class="w-full">
                  <span class="block text-gray-300">Enter your Email</span>
                  <input
                    class="w-full p-1 focus:outline-none border-b"
                    type="email"
                  />
                </div>
              </div>
              <div class="mt-5">
                <input class="mr-2" type="checkbox" name="" id="" /> I Agree
                <button
                  class="w-full md:w-auto block mt-3 font-semibold text-white bg-purple-500 rounded px-3 py-2"
                >
                  Subscribe
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
