<section class="bg-red-100 rounded-2xl p-5 mb-10">
  <div class="container mx-auto">
    <div class="py-16 lg:py-28">
      <h2 class="text-center text-3xl lg:text-5xl font-bold">Our Portfolio</h2>
      <p class="lg:w-1/2 text-center mx-auto mt-5">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti
        exercitationem dolores saepe facere. Facere illo dolor a esse pariatur
        deleniti, eveniet ad excepturi consectetur? Dolores minima minus eum
        molestias nemo?
      </p>
    </div>
    <div>
      <div class="flex flex-wrap justify-center mb-24">
        <div class="w-full md:w-1/2 py-4 md:pt-24">
          <div class="w-full md:w-11/12 lg:8/12 mx-auto">
            <div class="bg-white rounded-3xl shadow-lg">
              <img
                class="rounded-t-3xl"
                src="assets/product.png"
                alt=""
              />
              <div class="p-5">
                <p>
                  <span
                    class="px-2 mr-2 bg-red-100 rounded-3xl border border-red-200 py-1"
                    >branding</span
                  >
                  <span
                    class="px-2 mr-2 bg-green-100 rounded-3xl border border-green-200 py-1"
                    >design</span
                  >
                </p>
                <h3 class="mt-4 text-lg font-bold">Design Item 1</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="w-full md:w-1/2 py-4 md:py-12">
          <div class="w-full md:w-11/12 lg:8/12 mx-auto">
            <div class="bg-white rounded-3xl shadow-lg">
              <img src="assets/product.png" alt="" />
              <div class="p-5">
                <p>
                  <span
                    class="px-2 mr-2 bg-red-100 rounded-3xl border border-red-200 py-1"
                    >branding</span
                  >
                  <span
                    class="px-2 mr-2 bg-green-100 rounded-3xl border border-green-200 py-1"
                    >design</span
                  >
                </p>
                <h3 class="mt-4 text-lg font-bold">Design Item 1</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="w-full md:w-1/2 py-4 md:pt-24">
          <div class="w-full md:w-11/12 lg:8/12 mx-auto">
            <div class="bg-white rounded-3xl shadow-lg">
              <img src="assets/product.png" alt="" />
              <div class="p-5">
                <p>
                  <span
                    class="px-2 mr-2 bg-red-100 rounded-3xl border border-red-200 py-1"
                    >branding</span
                  >
                  <span
                    class="px-2 mr-2 bg-green-100 rounded-3xl border border-green-200 py-1"
                    >design</span
                  >
                </p>
                <h3 class="mt-4 text-lg font-bold">Design Item 1</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="w-full md:w-1/2 py-4 md:py-12">
          <div class="w-full md:w-11/12 lg:8/12 mx-auto">
            <div class="bg-white rounded-3xl shadow-lg">
              <img src="assets/product.png" alt="" />
              <div class="p-5">
                <p>
                  <span
                    class="px-2 mr-2 bg-red-100 rounded-3xl border border-red-200 py-1"
                    >branding</span
                  >
                  <span
                    class="px-2 mr-2 bg-green-100 rounded-3xl border border-green-200 py-1"
                    >design</span
                  >
                </p>
                <h3 class="mt-4 text-lg font-bold">Design Item 1</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="w-full md:w-1/2 py-4 md:pt-24">
          <div class="w-full md:w-11/12 lg:8/12 mx-auto">
            <div class="bg-white rounded-3xl shadow-lg">
              <img src="assets/product.png" alt="" />
              <div class="p-5">
                <p>
                  <span
                    class="px-2 mr-2 bg-red-100 rounded-3xl border border-red-200 py-1"
                    >branding</span
                  >
                  <span
                    class="px-2 mr-2 bg-green-100 rounded-3xl border border-green-200 py-1"
                    >design</span
                  >
                </p>
                <h3 class="mt-4 text-lg font-bold">Design Item 1</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex pb-24">
        <a class="mx-auto bg-purple-600 text-white font-semibold text-lg px-5 py-2 rounded">Explore</a>
      </div>
    </div>
  </div>
</section>
